/*   GLOBAL SETTINGS */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Teko', sans-serif;
    margin: 0 auto;
    background-color: #f5f6f7;
    color: #565759;
    font-size: 1.4em;
    letter-spacing: 0.7px;
}

ul, li, a {
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

/*   HEADER SETTINGS   */


.main-nav {
    text-align: center;
    padding-top: 10px;
    background-color: #c0c9cf;
}
.nav {
    flex-direction: column;
}

.nav li {
    background-color: white;
    margin: 5px 15px;
    justify-content: center;
    padding:0.75rem;
}

header {
    display: flex;
    flex-direction: column;
}

.intro {
    margin: 20px;
}

.header-image {
    width: 80%;
    margin: 40px auto 20px;
}

a:visited {
    color:black;
}

a:hover {
    color:coral;
}

/* .portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align:center;
    background-color: white;
    padding-top: 1.5rem;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 5 0;
    margin: 20px;
} 
.portfolio-heading {
    flex-basis: 100%;
}

h3 {
    margin: 1.25rem;
}

.group-image {
   flex:1 5
    0;
} */



/*     FOOTER SETTINGS    */


footer {
    display:flex;
    margin-top: 1.25rem;
    text-align:center;
    flex-direction: column;
    padding: 10px;
}

.contact, .contact-p {
    margin-bottom:1.5rem;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid #565759 1px;
}

.bottom.nav {
    display: none;
}

.back {
    margin-top: 20px;
}
.name {
    margin-top: 20px;
}

#email {
    margin-bottom: 4rem;
}

/*    MEDIA QUERIES   */
 
 @media screen and (min-width: 1024px){
    body { 
    width: 90%;
    }     
} 




/*      MIN SCREEN SIZE 768px */


@media screen and (min-width:768px) {
    .header {
        flex-direction: row-reverse;
    }
    .header-image {
        margin: 0 40px 40px;
    }

    .intro {
        margin-top: 0;
    }
    ul.nav {
        margin-bottom: 40px;
    }
    a.nav.bottom{
        font-size: 1.25rem;
    }
}



/*     SCREEN BETWEEN 321px AND 767pc */




@media screen and (min-width:321px) {
    .nav {
        flex-direction: row;
        margin-top: 20px;
    }
    .nav li {
        background-color:#f5f6f7;
    }
    ul.nav {
        justify-content: center;
    }

    .header-image {
        width:300px;
    }

    .back {
        display:none;
    }
    .bottom.nav {
        display: flex;
        margin:1.5rem 5px;
        font-size: 1.0rem;
    }

  
    /*          MAX WIDTH 320px        */


@media screen and (max-width: 320px){
    .nav { 
        justify-content: flex-end;
    }
    .nav li {
        margin: 5px;
    }
 
    .nav.bottom {
        display:none;
    }
    .header-image {
        max-width: 300px;
        margin: 10px auto 10px;
    }
}
